In [5]:
# 주의점 : 일반 python에서도 scikit-learn 쓸 수 있는지

import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')
from ast import literal_eval
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
from pandas import json_normalize
import json

In [7]:
pwd

'/Users/jinjiyeon/Desktop/code/03_pjt/bp2/final-pjt'

In [8]:
f = open('movies_poster2.json')
movie_poster2 = json.load(f)

In [9]:
movie_poster = movie_poster2[0]
df = pd.json_normalize(movie_poster['fields'])

In [10]:
def from_json_to_df(jsfile):
    json1 = pd.json_normalize(jsfile['fields'])
    return json1

In [11]:
df

,title,id,overview,poster_path,genres,vote_average,vote_count
0,Tom Clancy's Without Remorse,567189,An elite Navy SEAL uncovers an international c...,/rEm96ib0sPiZBADNKBHKBv5bve9.jpg,"[28, 12, 53, 10752]",7.3,907

In [12]:
# to_df = pd.DataFrame()
for movie in map(from_json_to_df, movie_poster2):
    df = df.append(movie, ignore_index=True)
    # print(movie)
    # print(type(movie))
    # print(movie.columns)

In [13]:
df = df[1:]

In [14]:
df.head()

,title,id,overview,poster_path,genres,vote_average,vote_count
1,Tom Clancy's Without Remorse,567189,An elite Navy SEAL uncovers an international c...,/rEm96ib0sPiZBADNKBHKBv5bve9.jpg,"[28, 12, 53, 10752]",7.3,907
2,Mortal Kombat,460465,"Washed-up MMA fighter Cole Young, unaware of h...",/nkayOAUBUu4mMvyNf9iHSUiPjF1.jpg,"[28, 14, 12]",7.6,2518
3,Godzilla vs. Kong,399566,"In a time when monsters walk the Earth, humani...",/pgqgaUx1cJb5oZQQ5v0tNARCeBp.jpg,"[878, 28, 18]",8.1,5549
4,Nobody,615457,"Hutch Mansell, a suburban dad, overlooked husb...",/oBgWY00bEFeZ9N25wWVyuQddbAo.jpg,"[28, 53, 80, 35]",8.4,1523
5,Monster Pets: A Hotel Transylvania Short,813258,Drac tries out some new monster pets to help o...,/dkokENeY5Ka30BFgWAqk14mbnGs.jpg,"[16, 35, 14]",7.7,116

In [172]:
df = df.reset_index(drop=True)

In [173]:
# 이 부분을 json 파일을 받아오는 것으로 바꾸어야 함

# movies =pd.read_csv('tmdb_5000_movies.csv')

movies_df = df

In [174]:
movies_df.head()

,title,id,overview,poster_path,genres,vote_average,vote_count,genres_literal,weighted_vote
0,Tom Clancy's Without Remorse,567189,An elite Navy SEAL uncovers an international c...,/rEm96ib0sPiZBADNKBHKBv5bve9.jpg,"[28, 12, 53, 10752]",7.3,907,28 12 53 10752,6.778816
1,Mortal Kombat,460465,"Washed-up MMA fighter Cole Young, unaware of h...",/nkayOAUBUu4mMvyNf9iHSUiPjF1.jpg,"[28, 14, 12]",7.6,2518,28 14 12,7.211730
2,Godzilla vs. Kong,399566,"In a time when monsters walk the Earth, humani...",/pgqgaUx1cJb5oZQQ5v0tNARCeBp.jpg,"[878, 28, 18]",8.1,5549,878 28 18,7.800131
3,Nobody,615457,"Hutch Mansell, a suburban dad, overlooked husb...",/oBgWY00bEFeZ9N25wWVyuQddbAo.jpg,"[28, 53, 80, 35]",8.4,1523,28 53 80 35,7.521119
4,Monster Pets: A Hotel Transylvania Short,813258,Drac tries out some new monster pets to help o...,/dkokENeY5Ka30BFgWAqk14mbnGs.jpg,"[16, 35, 14]",7.7,116,16 35 14,6.493526

In [149]:
# movies_df['genres'] = movies_df['genres'].apply(literal_eval)
# movies_df['genres'] = movies_df['genres'].apply(lambda x : [ y['name'] for y in x])

In [150]:
# lst = ['Action', 'Adventure', 'Fantasy', 'Science', 'Fiction']
# ' '.join(lst)

# lst = [1,2,3,4,5]
# a = ' '.join(map(str,lst)) 
# print(a)
# def int_to_str(lst):
#     string_ints = [str(e) for e in lst]
#     return ' '.join(string_ints)

In [175]:
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(map(str, x)))

In [176]:
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))

In [177]:


movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(map(str, x)))

count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])

genre_sim = cosine_similarity(genre_mat, genre_mat)

genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]

In [178]:
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])

In [179]:
genre_sim = cosine_similarity(genre_mat, genre_mat)

In [180]:
# argsort : 정렬하는 인덱스를 반환
# ::-1 : 내림차순으로 정렬
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]

In [181]:
# 정 안 되면 얘를 db에 싣는다..

genre_sim_sorted_ind

array([[   0, 1280, 1207, ..., 2744, 2733, 2492],
       [   1, 1171, 3528, ..., 2919, 2918, 2492],
       [ 836,    2, 3457, ..., 1621, 1622, 3803],
       ...,
       [4982, 4253, 4208, ..., 1187, 4332, 4116],
       [2851, 4558, 4814, ..., 2219, 2217, 2492],
       [4984, 1742, 4557, ..., 2065, 2063,    0]])

In [182]:
# weighted_vote 구하기

percentile = 0.6
m = movies_df['vote_count'].quantile(percentile)
C = movies_df['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ( (v/(v+m)) * R ) + ( (m/(m+v)) * C )   

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [238]:
df['weighted_vote'].mean()

6.523935898290913

In [212]:
def find_sim_movie(df, sorted_ind, movie_id, top_n=10):
    # df에서 id인 행과 그 인덱스
    title_movie = df[df['id'] == movie_id]
    title_index = title_movie.index.values
    
    # top_n의 2배에 해당하는 쟝르 유사성이 높은 index 추출 - 기준영화
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    # top_n의 2배에 해당하는 후보군에서 weighted_vote 높은 순으로 top_n 만큼 추출 
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

In [213]:
# movies와 merge할 df_recom 생성

df_recom = pd.DataFrame()

for id in movies_df['id']:
    similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, id, 3)
    
    recommends = []
    for index, row in similar_movies.iterrows():
        recommends.append(row['id'])
    
    df_add = pd.DataFrame(data={'id':id, 'recommends':[recommends]})
    df_recom = pd.concat([df_recom, df_add])

In [215]:
df_final = movies_df.merge(df_recom)

In [216]:
# 최종 데이터

df_final.head(3)

,title,id,overview,poster_path,genres,vote_average,vote_count,genres_literal,weighted_vote,recommends
0,Tom Clancy's Without Remorse,567189,An elite Navy SEAL uncovers an international c...,/rEm96ib0sPiZBADNKBHKBv5bve9.jpg,"[28, 12, 53, 10752]",7.3,907,28 12 53 10752,6.778816,"[1368, 1369, 49021]"
1,Mortal Kombat,460465,"Washed-up MMA fighter Cole Young, unaware of h...",/nkayOAUBUu4mMvyNf9iHSUiPjF1.jpg,"[28, 14, 12]",7.6,2518,28 14 12,7.211730,"[592350, 420426, 170657]"
2,Godzilla vs. Kong,399566,"In a time when monsters walk the Earth, humani...",/pgqgaUx1cJb5oZQQ5v0tNARCeBp.jpg,"[878, 28, 18]",8.1,5549,878 28 18,7.800131,"[119450, 22843, 75629]"

In [218]:
# 최종 데이터
df_final.drop(columns=['genres_literal'], inplace=True)

In [222]:
type(df_final.loc[0, 'recommends'])

list

In [225]:
df_json = df_final.copy(deep=True)

In [233]:
movie_list = []

for idx, data in df_json.iterrows():
    movie = {
        'model': 'movies.movie',
        'fields':{
            'title': data.get('title'),
            'id': data.get('id'),
            'overview': data.get('overview'),
            'poster_path': data.get('poster_path'),
            # 
            'genres': data.get('genres'),
            'vote_average': data.get('vote_average'),
            'vote_count': data.get('vote_count'),
            'weighted_vote': data.get('weighted_vote'),
            'recommends': data.get('recommends')
        }
    }
    movie_list.append(movie)

In [236]:
with open('movies_recommends.json', 'w', encoding='utf-8') as f:
    json.dump(movie_list, f)

In [235]:
len(movie_list)

4985